name: Test Pull Request

on:
  pull_request:
    branches:
    - main

jobs:
  integration:
    name: Integration Tests
    runs-on: ubuntu-latest
    steps:
    - name: Setup Go
      uses: actions/setup-go@v1
      with:
        go-version: 1.16

    - name: Checkout
      uses: actions/checkout@v2

    - run: git fetch --depth=1 origin +refs/tags/*:refs/tags/* || true

    - name: Run Integration Tests
      run: ./scripts/integration.sh

  upload:
    name: Upload Workflow Event Payload
    runs-on: ubuntu-latest
    steps:
    - name: Upload Artifact
      uses: actions/upload-artifact@v2
      with:
        name: event-payload
        path: ${{ github.event_path }}

  approve:
    name: Approve Bot PRs
    if: ${{ github.event.pull_request.user.login == 'paketo-bot' || github.event.pull_request.user.login == 'dependabot[bot]' }}
    runs-on: ubuntu-latest
    needs: integration
    steps:
    - name: Check Commit Verification
      id: unverified-commits
      uses: paketo-buildpacks/github-config/actions/pull-request/check-unverified-commits@main
      with:
        token: ${{ secrets.PAKETO_BOT_REVIEWER_GITHUB_TOKEN }}
        repo: ${{ github.repository }}
        number: ${{ github.event.number }}

    - name: Check for Human Commits
      id: human-commits
      uses: paketo-buildpacks/github-config/actions/pull-request/check-human-commits@main
      with:
        token: ${{ secrets.PAKETO_BOT_REVIEWER_GITHUB_TOKEN }}
        repo: ${{ github.repository }}
        number: ${{ github.event.number }}

    - name: Checkout
      if: steps.human-commits.outputs.human_commits == 'false' && steps.unverified-commits.outputs.unverified_commits == 'false'
      uses: actions/checkout@v2

    - name: Approve
      if: steps.human-commits.outputs.human_commits == 'false' && steps.unverified-commits.outputs.unverified_commits == 'false'
      uses: paketo-buildpacks/github-config/actions/pull-request/approve@main
      with:
        token: ${{ secrets.PAKETO_BOT_REVIEWER_GITHUB_TOKEN }}
        number: ${{ github.event.number }}
